*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box; 
}
.container{ 
        width: 280px;
        margin:0 auto;
        background: linear-gradient(#CCA5EE,#7E0F4B);
        margin-bottom: 10px;
        margin-top: 05px;
}
.sticky{
    position: sticky;
    top: 0;
    background-color: #fff;
  
}
header{
    width:280px;
    background: linear-gradient( #3C37CB, #7E0F4B);
    padding: 20px;
    color:white;
    text-align: center;
    font-family:Verdana;
    height: 90px;
    box-shadow: 4px 3px 5px rgba(141, 185, 29, 0.1)0.1;
}
h3{
    font-size: 15px;
}
.heading{
    margin-bottom: 7px;
}
.form_container{
    margin-top: 40px;
    display: grid;
    text-align: center;
    color: white;
    margin-bottom: 15px;

}
button{
    font-size: 14px;
    padding:  8px 84px;
    border: 1px solid white;
    background-color:#ffe0b3;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 260px;
    margin-bottom: 20px;
    color:white;
    transition: 0.3s ease-in;
    font-family:Verdana;
    height: 40px;

}
.button:hover{
    background-color: rgb(223, 159, 223);
    transition: 0.3s ease-out;

}
.button2{
    font-size: 13px;
    padding:  8px 75px;
    border: 1px solid white;
    background-color:#ffe0b3;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 260px;
    margin-bottom: 20px;
    color:white;
    transition: 0.3s ease-in;
    font-family:Verdana;
    height: 40px;

}
.button2:hover{
    background-color: rgb(223, 159, 223);
    transition: 0.3s ease-out;

}
.addcontact{
    border-radius: 50px;
    height: 90px;
    width: 80px;
    margin-top: 10px;
}


/*--------------------footer css ----------------------------- */

.sticky_element{
    position: sticky;
    bottom: 0;
    background-color: #0a057f;
    margin-top: 90vh;

    
}
footer{
background-color: #0a057f;
    border:1px solid#707070;
    width: 280px;
   margin-top: 90vh;
   height: 41px;
   padding-left: 05px;
   padding-right: 0%;
 
}
.home{height:40px; 
width:40px;
 font-size:20px; 
 padding:05px;
 margin-right: 10px;
}
.bottle{
    height: 40px;
    width: 18px;
    font: size 20px;
    padding:5px;
    color: white;
    margin-right: 20px;
}
.dropdown{
 height:38px; 
width:40px;
 font-size:10px; 
 padding:05px;
}
/*--------------------footer css ----------------------------- */


/*--------------------add_seizure1 css ----------------------------- */

.add_seizure1_heading{
font:white;
font-size: large;
margin-top: 20px;
}
h2{
    color: aliceblue;
    margin-top: 30px;
    margin-top: 70px;
    text-align: center;
   }
   .plusbutton{
    height: 130px;
    width: 130px;
    margin: 0 70px;
    color: white;
 
   }
   
   .stopwatch{
    height: 90px;
    width: 70px; 
color:white;
border-radius: 60px;
float: left;
margin-top: auto;
margin-left: 07px;
}
h4{
    margin-left: 05px; 
    float: right;
    margin-top: 30px;
    padding: 10px;
    color: white;
}
/*--------------------add_seizure1 css ----------------------------- */

/*--------------------add_seizure2 css ----------------------------- */
.add_seizure2_heading h3{
    font:white;
    font-size: large;
    text-align: center;
    margin-top: 50px;

}
.circle10{
    height: 130px;
    width: 130px;
    margin: 0 70px;
    color: white;
    background: transparent;
    border-radius: 80px;
}
.number h2{
    margin-top: 60px;
    
}

/*--------------------add_seizure2 css ----------------------------- */
    
/*-----------------------add_seizure_when css----------------------------*/

      .date{
        margin-top: 20px;
        margin-left: 40px;
        height: 80px;
        width: 200px;
        display:flex;
        padding: 10px;
        gap: 10px;
      }
.year{
    background-color:#ffe0b3;
    color: white;
    font-size: 18px;
}
.month{
    background-color:#ffe0b3;
    color: white;
    font-size: 18px;
}
.day{
    background-color:#ffe0b3;
    color: white;
    font-size: 18px;
}
.number h1{
    border: 1px solid;margin-left: 15px; 
            margin-right: 15px; margin-top: 25px;
            font-size: 20px;
            padding:  8px 60px;
            border: 1px solid white;
            color: white;
            background-color:#ffe0b3;
            text-align: center;
}
.time{
    margin-top: 20px;
    margin-left: 50px;
    height: 80px;
    width: 200px;
    display:flex;
    padding: 10px;
    gap: 10px;
  }
  .hours{
    background-color:#ffe0b3;
    color: white;
    font-size: 18px;
  }
  .minutes{
    background-color:#ffe0b3;
    color: white;
    font-size: 18px;
  }
  .format{
    background-color:#ffe0b3;
    color: white;
    font-size: 18px;
  }
  .add_seizure_when_image{
height: 60px;
width: 60px;
margin-left: 100px;
margin-top: 20px;
color: white;
background: transparent;
border-radius: 80px;
background-color:#ffe0b3;
  }
 
/*-----------------------add_seizure_when css----------------------------*/

/*-----------------------add_seizure_type css----------------------------*/


.type h2{
    border: 1px solid;margin-left: 15px; 
            margin-right: 15px;
             margin-top: 15px;
            font-size: 20px;
            padding:  8px 10px;
            border: 1px solid white;
            color: white;
            background-color:#32218D;
            text-align: center;
}

.add_seizure_type_image{
    height: 40px;
    width: 50px;
    margin-left: 100px;
    margin-top: 10px;
    background: transparent;
    border-radius: 80px;
    background-color:#ffe0b3;
      }
      .type_paragraph{
        color: white;
        text-align: center;
    }   
    .check{
        float: left;
        margin-left: 2px;
        height: 20px;
        width: 20px;
        gap:20px;
    }
/*-----------------------add_seizure_type css----------------------------*/


/*-----------------------add_seizure_consious css----------------------------*/
.consious_container{ 
    width: 280px;
    margin:0 auto;
    background: linear-gradient(#CCA5EE,#7E0F4B);
    height: 100vh;
    margin-top: 5px;
}
.consious_home{height:40px; 
    width:40px;
     font-size:20px; 
     padding:05px;
     margin-right: 10px;
     float: right;
    }
/*-----------------------add_seizure_consious css----------------------------------*/






/*-----------------------add_trigger2 css----------------------------*/


.trigger_plus{
    height:50px;
    width: 50px;
    color: white;
    float:right;
    margin-right: 15px;
    margin-top: 10px;
}
.add_trigger2_img{
    height: 40px;
    width: 50px;
    margin-left: 15px;
    margin-top: 15px;
    background: transparent;
    border-radius: 80px;
    background-color:#ffe0b3;
    float:left;
 }
/*-----------------------add_trigger2 css----------------------------*/

  /*--------------------drop down ---------------------------------*/

  .dropbtn {
    height:38px; 
   width:40px;
    font-size:10px; 
    padding:05px;
   }
   
   .dropup {
     position: relative;
     display: inline-block;
   }
   
   .dropup-content {
     display: none;
     position: absolute;
     background-color: #0a057f;
     min-width: 30%;
     bottom: 45px;
     margin-right: 10px;
     font-size: 8px;
   }
   
   .dropup-content a {
     color: white;
     padding: 10px 10px;
     text-decoration: none;
     display: block;
   }
   
   .dropup-content a:hover {background-color: #0a057f}
   
   .dropup:hover .dropup-content {
     display: block;
   }
   /*--------------------drop down ---------------------------------*/
